.nameh1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    
}

.namebutton{
    background-color: aquamarine;
    color: brown;
    border-style: double;
    border-width: 10px;

}

